<nav id="topNav" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

        </ul>
    </div>
    <a class="navbar-brand mx-auto" href="#">NORTH RIFT ONLINE BOOKING</a>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                {% if user.is_authenticated %}
                    {% if request.path == "/management/" %}
                    <a class="btn btn-primary btn-sm" href="{% url 'book' %}">Back to booking</a>
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'logout' %}">Logout [{{user.username}}]</a>
                    {% elif request.path == "/booking/" %}
                    <a class="btn btn-primary btn-sm" href="{% url 'management' %}">Go to admin</a>
                    {% endif %}
                {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'login' %}">Go to admin</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>